*{
  margin: 0;
  padding: 0;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
 
  
}

.error-message.show {
  display: block;
}
.text{
  font-family: 'Times New Roman', Times, serif;
}
.row2{
  margin-left: 250px;
  margin-top: 75px;
}
ul.a {
  list-style-type: circle;
}
.z {
  list-style: none;
  display: table;
}

.y {
  display: table-row;
}

b {
  display: table-cell;
  padding-right: 1em;
}

.btn-2{
transition: .4s all;
}
.btn-2:hover{
transform: scale(1.2);
}
.checkbox-position{
  margin-left: 220px;
}
input[type="checkbox"]:hover {
  background-color: darkgreen;
}
#name {
  border: 1px solid #4287f5; /* Change green to your desired border color */
}
#email{
border: 1px solid #4287f5; /* Change green to your desired border color */
}  
#address{
border: 1px solid #4287f5; /* Change green to your desired border color */
}
#message{
border: 1px solid #4287f5; /* Change green to your desired border color */
}  
